header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 12px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.introText {
    font-family: sans-serif;
    font-weight: bold;
    width: 600px;
    margin: auto;
    padding: 12px;
}

:root {
    --purple: rgb(129, 19, 129)
    --black: black;
    --white: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--white);
}
.hide {
    display: none;
}

.points {
    text-decoration: none;
    color: var(--purple);
    font-weight: bold;
    font-family: sans-serif;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startScreen {
    text-align: center;
    padding: 24px;
 }

h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 12px;
    padding-bottom: 12px;
    text-align: center;

}

h2 {
    margin: 0px 12px 24px 12px;
    font-size: x-large;
    font-weight: bold;
    color: purple;
}

.p {
    font-family: sans-serif;
    font-weight: bold;
    width: 600px;
}

#startButton {
    background-color:  purple;
    color: white;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
} 

.buttonLook {
    display: flex;
    justify-content: left;
    font-size: large;
    border-radius: 12px;
    transition: all 0.3s;
    background-color:  purple;
    color: white;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

/* class selectors */

.introText {
    padding: 12px;
    text-align: center;
    font-size: large;
}

/* style for the header options */
.timeLabel {
    color: purple;
    line-height: 24px;
    margin: 0 10px;
    font-size: large;
    font-weight: bold;
}

/* highscores link style */
.points-link {
    text-decoration: none;
    position: relative;
}

.points-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    transition: all 0.3s;
}

.wrapper {
    box-shadow: 0px 0px 12px rgba(0,0,0,.8);
    border: 3px solid purple;
    border-radius: 12px;
    width: 900px;
    max-width: 80%;
    padding: 24px;
    background-color: whitesmoke;
    font-size: large;
    border-radius: 10px;
    transition: all 0.3s;
}

.buttonLook:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
    filter: brightness(150%);
}

#choices {
    color: white;
    background-color: purple;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

#feedback {
    color: grey;
    font-size: 1.2em;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
  }
  

.pointsNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}



